<h1>ユーザ一覧画面</h1>

<!--部分テンプレート-->
<%= render 'layouts/users_info', {book:@book , user:@user} %>

<h1>Users</h1>
<% @users.each do |user| %>
<div><%= user.name %></div>
<div><%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "NoImage.jpg" %></div>
<div><%= link_to "show", user_path(user.id) %></div>
<!--そのユーザの詳細画面へ-->
<% end %>