<!--ユーザ詳細画面-->
<h1>ユーザ詳細画面</h1>
<!--部分テンプレート-->
<%= render 'layouts/users_info', {book:@book , user:@user} %>





<h1>自分が投稿したデータのみ表示</h1>

<% @books.each do |book| %>
<div><%= link_to book.title, book_path(book.id) %></div>
<div><%= book.body %></div>
<% end %>

